version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://birzha:birzha@db:5432/birzha
      - PORT=8000
    networks:
      - trading-network

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=birzha
      - POSTGRES_PASSWORD=birzha
      - POSTGRES_DB=birzha
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - trading-network

  alembic:
    build: .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://birzha:birzha@db:5432/birzha
    # Ждём, пока БД точно станет доступной
    command: sh -c "sleep 5 && alembic upgrade head"
    networks:
      - trading-network

volumes:
  postgres_data:

networks:
  trading-network:
    driver: bridge
